.ant-form-item {
  margin-bottom: 0;
}
.ant-input {
  height: 38px;
}
.ant-select-selection--single {
  height: 38px;
}
.ant-select-selection__rendered {
  line-height: 35px;
}
.ant-upload.ant-upload-select {
  width: 100%;
}
